<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>引きこもりの１日</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="app">
    <h1>引きこもりの１日</h1>
    <div v-show="!game">
      <div>
        名前:
        <input type="text" :value="name">
      </div>
      <div>
        起床時刻（5〜12時）:
        <input type="number" :value="getupTime" min="5" max="12">時
      </div>
      <button @click="gameStart">起床</button>
    </div>
    <div v-show="game">
      <div>
        {{time}}時
      </div>
      <div>
        名前: {{name}}
      </div>
      <div>
        満足感: {{status.satiety}}%
      </div>
      <div>
        排尿感: {{status.toilet}}% {{flag}}
      </div>
      <div></div>
      <button v-for="(value, index) in actions" @click="action(index)">{{value.text}}</button>

      <div>
        <div v-for="value in actionHistory">{{action.time}} {{action.action}}</div>
      </div>
    </div>
    <div v-show="flag">ゲームオーバー</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        game: false,
        name: '名無しさん',
        getupTime: 5,
        time: 0,
        flag: false,
        status: {
          satiety: 0,
          toilet: 50,
          intelligence: 30,
          sleep: 0,
        },
        actions: [
          { text: 'ご飯を食べる', satiety: 100 },
          { text: 'トイレに行く', toilet: -100 },
          { text: '勉強する', intelligence: 10 },
          { text: 'ゲームする', intelligence: -5 },
          { text: '昼寝する', sleep: 1 },
          { text: '就寝' }
        ],
        actionHistory: []
      },
      computed: {
        activityTime: function () {
          return this.time - this.getupTime + this.status.sleep
        },
      },
      methods: {
        gameStart: function () {
          this.game = true
          this.time = Number(this.getupTime)
        },
        spendTime: function () {
          this.status.toilet += 10
          this.time += 1
        },
        eat: function () {
          this.actionHistory.push({ time: this.time + "時", action: "ご飯を食べる" })
          this.spendTime()
          this.status.satiety += 10
        },
        action: function (index) {
          const action = this.actions[index]
          this.actionHistory.push({ time: this.time + "時", text: action.text })
          this.spendTime()
        },
        toilet: function () {
          this.actionHistory.push({ time: this.time + "時", action: "トイレに行く" })
          this.spendTime()
          this.status.toilet = 0
        },
        gameSet: function () {
          if (confirm("就寝しますか？\n（ゲームを終了します）")) {
            console.log('おやすみなさい')
          }
        }
      },
      watch: {
        'status.toilet': function () {
          if (this.status.toilet >= 100) {
            this.flag = true
          }
        }
      }
    })
  </script>
</body>

</html>