<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>引きこもりの１日</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="app">
    <h1>引きこもりの１日</h1>
    <div v-show="!game">
      <div>
        名前:
        <input type="text" v-model="name">
      </div>
      <div>
        起床時刻（5〜12時）:
        <input type="number" v-model="getupTime" min="5" max="12">時
      </div>
      <button @click="gameStart">起床</button>
    </div>
    <div v-show="game">
      <div>
        {{time}}時
      </div>
      <div>
        名前: {{name}}
      </div>
      <div>
        満足感: {{status.satiety}}%
      </div>
      <div>
        排尿感: {{status.toilet}}% {{flag}}
      </div>
      <div></div>
      <button @click="eat">ご飯を食べる</button>
      <button @click="toilet">トイレに行く</button>
      <button @click="gameSet">就寝</button>
      <div>
        <div v-for="action in actions">{{action.time}} {{action.action}}</div>
      </div>
    </div>
    <div v-show="flag">ゲームオーバー</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        game: false,
        name: '名無しさん',
        getupTime: 5,
        time: 0,
        flag: false,
        status: {
          satiety: 0,
          toilet: 50,
        },
        actions: []
      },
      computed: {
        activityTime: function () {
          return time - getupTime
        },

      },
      methods: {
        gameStart: function () {
          this.game = true
          this.time = Number(this.getupTime)
        },
        spendTime: function () {
          this.status.toilet += 10
          this.time += 1
        },
        eat: function () {
          this.actions.push({ time: this.time + "時", action: "ご飯を食べる" })
          this.spendTime()
          this.status.satiety += 10
        },
        toilet: function () {
          this.actions.push({ time: this.time + "時", action: "トイレに行く" })
          this.spendTime()
          this.status.toilet = 0
        },
        gameSet: function () {
          if (confirm("就寝しますか？\n（ゲームを終了します）")) {
            console.log('おやすみなさい')
          }
        }
      },
      watch: {
        'status.toilet': function () {
          if (this.status.toilet >= 100) {
            this.flag = true
          }
        }
      }
    })
  </script>
</body>

</html>