<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>引きこもりの１日</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="app">
    <h1>引きこもりの１日</h1>
    <div v-show="gameStatus === 'yet'">
      <div>
        名前:
        <input type="text" :value="name">
      </div>
      <div>
        起床時刻（5〜12時）:
        <input type="number" :value="getupTime" min="5" max="12">時
      </div>
      <button @click="startGame">起床</button>
    </div>
    <div v-show="gameStatus === 'moving'">
      <div>
        {{time}}時
      </div>
      <div>
        名前: {{name}}
      </div>
      <div>
        満腹感: {{status.satiety}}%
      </div>
      <div>
        排尿感: {{status.toilet}}%
      </div>
      <div>
        活動時間: {{activityTime}}時間
      </div>
      <div></div>
      <button v-for="(value, index) in actions" @click="action(index)">{{value.text}}</button>
      <button @click="setGame">就寝</button>

      <div>
        <div v-for="value in actionHistory">{{action.time}} {{action.action}}</div>
      </div>
    </div>
    <div v-show="gameStatus === 'finish'">
      <div v-show="flag">
        <h2>ゲームオーバー</h2>
        {{result.comment}}
      </div>
      <div v-show="!flag">
        <h2>おやすみなさい</h2>
        <div>
          <div v-for="value in actionHistory">{{value.time}} {{value.text}}</div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        gameStatus: 'yet',
        name: '名無しさん',
        getupTime: 5,
        time: 0,
        flag: false,
        status: {
          satiety: 50,
          toilet: 50,
          intelligence: 30,
          sleep: 0,
        },
        actions: [
          { text: 'ご飯を食べる', satiety: 100, toilet: 0, intelligence: 0, sleep: 0 },
          { text: 'トイレに行く', satiety: 0, toilet: -100, intelligence: 0, sleep: 0 },
          { text: '勉強する', satiety: 0, toilet: 0, intelligence: 10, sleep: 0 },
          { text: 'ゲームする', satiety: 0, toilet: 0, intelligence: -5, sleep: 0 },
          { text: '昼寝する', satiety: 0, toilet: 0, intelligence: 0, sleep: 1 },
        ],
        actionHistory: [],
        result: {

          comment: ''
        }
      },
      computed: {
        activityTime: function () {
          return this.time - this.getupTime + this.status.sleep
        },
        totalPoint: function () {
          const status = this.status
          return status.satiety + status.intelligence
        }
      },
      methods: {
        startGame: function () {
          this.gameStatus = 'moving'
          this.time = Number(this.getupTime)
        },
        spendTime: function () {
          this.status.toilet += 10
          this.status.satiety -= 10
          this.time += 1
        },
        action: function (index) {
          const action = this.actions[index]
          this.actionHistory.push({ time: this.time + "時", text: action.text })
          this.spendTime()
          this.status.satiety += action.satiety
          this.status.toilet += action.toilet
          this.status.intelligence += action.intelligence
          this.status.sleep += action.sleep
        },
        setGame: function () {
          if (confirm("就寝しますか？\n（ゲームを終了します）")) {
            this.gameStatus = 'finish'
          }
        }
      },
      watch: {
        'status.toilet': function () {
          if (this.status.toilet >= 100) {
            this.flag = true
            this.gameStatus = "finish"
            this.result.comment = `${this.name}は粗相してしまいました`
          } else if (this.status.toilet <= 0) {
            this.status.toilet = 0
          }
        },
        'status.satiety': function () {
          if (this.status.satiety >= 100) {
            this.status.satiety = 100
          } else if (this.status.satiety <= 0) {
            this.flag = true
            this.gameStatus = "finish"
            this.result.comment = `${this.name}は餓死してしまいました`
          }
        },
        activityTime: function () {
          if (this.activityTime >= 20) {
            this.flag = true
            this.result.comment = `${this.name}は眠ってしまいました`
          }
        }
      }
    })
  </script>
</body>

</html>