body {
  background-color: #b5d197;
}
img {
  width: 100%;
}

#app {
  background-color: #ffffff;
  padding: 20px;
  max-width: 100%;
  width: 500px;
  margin: auto;
}
h1 {
  font-family: "M PLUS 1p";
  text-align: center;
}
.graph-wrapper {
  max-width: 100%;
  width: 300px;
  height: 20px;
  background-color: #F1F3DA;
}
.graph-body {
  height: 100%;
}
.satiety {
  background-color: #B43C3C;
}
.toilet {
  background-color: cadetblue;
}
.img-area {
  margin: auto;
  max-width: 300px;
  text-align: center;
}